		<!--Sidebar: SHOULD BE CHANGED TO PARTIAL-->
		<div class="span3 offset1">
	    <a href="#createPost" role="button" class="btn" data-toggle="modal">Create Post</a>
      <div id="createPost" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Create Post</h3>
        </div>
        <%= render :partial=>'/posts/instance_modal_form', :locals => {:instance_id => instance_id} %>
      </div>

      <a href="#createTestimony" role="button" class="btn" data-toggle="modal">Create Testimony</a>
      <div id="createTestimony" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Create Testimony</h3>
        </div>
        <%= render :partial=>'/testimonies/modal_form', :locals => {:instance_id => instance_id} %>
      </div>

			<h3>Members</h3>
			<% @users.each_slice(2) do |user1, user2| %>
				<ul class="thumbnails">
					<div class="row-fluid">
  						<li class="span4">
    						<a href="#" class="thumbnail">
      						<img src="/assets/cat.png" alt="">
    						</a>
    						<p><%= user1.name %></p>
  						</li>
  						<% if !user2.nil? %>
  							<li class="span4">
    							<a href="#" class="thumbnail">
      							<img src="/assets/cat.png" alt="">
    							</a>
    							<p><%= user2.name %></p>
  							</li>
  					 	<% end %>
  					</div>
  				</ul>
  			<% end %>
		</div>