<%= form_for(@new_admin) do |f| %>
  <div class="modal-body chosen-form">
    <%= f.label :user_id, "Name" %>
    <%= f.collection_select :user_id, User.order(:first_name), :id, :full_name, {}, {:class=>'chzn-select', :id => nil} %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>