.cover-wrapper
  - if CoverPhoto.about
    .cover-photo{:style => "background-image: url(#{CoverPhoto.about.photo.url(:large)})" }
  .title-container
    .title
      About Us

.container
  .row
    .heading.center WHAT IS ALTERNATIVE BREAKS?
    .text
      %p
        <b>Alternative Breaks</b> is a service-learning program for students to explore social issues through meaningful service, education, and reflection during their academic breaks. This year, Alternative Breaks offers ten week-long trips coupled with a semester long academic course on issues such as environmental justice, health care, immigration, and homelessness. Students serve throughout California, and in Oregon, Arizona and Louisiana.
      %p
        Since 2001, Alternative Breaks has offered students opportunities to connect to the greater community through meaningful service, education, and reflection during their academic breaks coupled with a semester-long course. Participants return from their experiences with greater insight on a particular social justice issue and a deeper understanding on what it means to get involved in the community.
      %p
        Alternative Breaks introduces students to issues in a particular community, provides them with the knowledge and ability to make an informed impact on their own communities, and creates a memorable and fun experience in a team environment. This year, Alternative Breaks offers trips to ten different locations during the academic spring break.


.row.carousel-row.gray
  .container
    %iframe{:width => "640", :height => "360", :src => "http://www.youtube.com/embed/FlC8fXHQbsc?rel=0", :frameborder => "0"}

