.cover-wrapper
  - if CoverPhoto.team
    .cover-photo{:style => "background-image: url(#{CoverPhoto.team.photo.url(:large)})" }
  .title-container
    .title
      Team

.container
  .row-fluid
    .heading
      Staff
  .row-fluid
    .heading
      Directors
    .section
      - @directors.each do |m|
        = render 'page/director', :member => m
  .row-fluid
    .heading
      Break Leaders
    .section
      - @break_leaders.each do |m|
        = render 'page/break_leader', :member => m
  .row-fluid


