<tr class = "response">
	<td>
		<div class="line-separator"></div>

		<span class="response-author">
			<%= User.find(@response.user_id).username %>
		</span>

		<div class="response-content">
			<%= comment.content %>
		</div>

		<div id = "comment-wrapper">
			<span class="comment-delete">
				<% if !current_user.nil? && (current_user.id ==  comment.user_id) %>
					<%= link_to 'Edit', edit_response_path(response) %>
					<%= link_to 'Delete', response, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</span>
		</div>
	</td>
</tr>