<h1>Listing testimonies -- this page will look better</h1>

<table>
  <tr>
    <th>Trip instance</th>
    <th>User</th>
    <th>Context</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testimonies.each do |testimony| %>
  <tr>
    <td><%= testimony.trip_instance_id %></td>
    <td><%= testimony.user_id %></td>
    <td><%= testimony.description %></td>
  </tr>
<% end %>
</table>

<br />
<!--  BROKEN SHOULD PROMPT LOGIN if you're not logged in
<%= link_to 'New Testimony', new_trip_instance_testimony_path %>
-->
