.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "newPartnerModal", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Add Community Partner
  = render :partial=>'modals/partner_form'