$grayLight  :   #EEF3F8;
$grayDark   :   #969B9B;

.video {
  padding: 20px 0px;
  text-align: center;
  background: $grayLight;
}


.heading {
  font-size: 24px;
  color: #3a87ad;
  text-align: center;
  font-weight: 300;
  margin: 20px 0px;
}

.text {
  margin: 20px 0px;
  font-size: 17px;
  color: #777;
  font-weight: 300;
}

#carousel-title {
  .carousel-item {
  }
  .carousel-indicators {
    position: relative;
    left: 48%;  //need to work on this
    z-index: 10;
  }
  .carousel-indicators li {
    background-color: #fff;
  }

  .carousel-indicators .active {
    background-color: $grayDark;
  }
}
.slideshow {
  margin-top: -30px;
  height: 392px;
}
// .indicators {
//   // margin-top: 50px;
//   // display: block;
//   position: absolute;
//   text-align: center;
//   bottom: 0px;
// }