$grayLight  :   #EEF3F8;
$gray       :   #B4B4B4;
$grayDark   :   #969B9B;
$grayBlue   :   #8392A0;
$blue       :   #3a87ad;

/* general styling */

h1 {
  font-weight: 300;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
.blue {
  color: $blue;
}
.gray-blue {
  color: $grayBlue;
}

.heading {
  font-size: 24px;
  color: #3a87ad;
  font-weight: 300;
  margin: 20px 0px;
}
.center {
  text-align: center;
}

.text {
  margin: 20px 0px;
  font-size: 17px;
  color: #777;
  font-weight: 300;
}

/* about */
.carousel-row {
  padding: 20px 0px;
  text-align: center;
  background: #FFFFFF;

  #carousel-title {
    .carousel-item {
    }
    .carousel-indicators {
      position: absolute;
      width: 30px;
      top: 375px;
      left: 0;
      right: 0;
      width: 30px;
      margin: auto;

      z-index: 10;
    }
    .carousel-indicators li {
      background-color: #fff;
    }

    .carousel-indicators li  {
      background-color: $grayLight;
      &.active {
        background-color: $grayDark;
      }
    }
    .slideshow {
      margin-top: -30px;
      height: 392px;
    }
  }
}

/* team */
.member {
  display: inline-block;
  margin-right: 50px;
  .avatar {
    width: 150px;
    border: 1px solid $grayLight;
  }
  .name {
    margin-top: 7px;
    font-size: 18px;
    font-weight: 500;
  }
  .title {
    margin-top: 5px;
    font-size: 14px;
    color: $grayBlue;
  }
}

.arrow {

  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;

  position: absolute;
  z-index: 10;
  left: 0;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
    height: 0;
  &.left {
    right: 5px;
    border-right:14px solid #FFFFFF;
  }
  &.right {
    left: 5px;
    border-left:14px solid #FFFFFF;
  }

}