/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */

$lightGray  :   rgb(237, 243, 250);
$darkGrayBlue : rgb(67,80,94);

.body {
  overflow-x: hidden;
}

.gray {
  background-color: $lightGray;
}
.section {
  width: 940px;
  padding: 30px 0px;
  margin: auto;
}

.heading {
  font-size: 20px;
  color: $darkGrayBlue;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.center {
  text-align: center;
}

.btn-primary {
  a, a:hover {
    color: white;
    text-decoration: none;
  }
}