.modal-body {
	overflow: scroll;
}

.chosen-form {
	overflow: visible; // so the chosen dropdown doesn't get cut off.
}

.modal-body#chicken {
	overflow: scroll;
}

.tab-content {
	overflow: visible; // so the chosen dropdown doesn't get cut off.
}

.user-panel {
  margin-top: 30px;
}