// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-body {
	overflow: scroll;
}

.chosen-form {
	overflow: visible; // so the chosen dropdown doesn't get cut off.
}

.tab-content {
	overflow: visible; // so the chosen dropdown doesn't get cut off.
}
