// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grayLight  :   #D4D4D4;

#info-box {
	.heading {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	padding: 10px;
	height: 200px;
	width: 400px;
	position: absolute;
	z-index: 10;
	top: 60px;
	right: 50px;
	background: $grayLight;
	opacity:0.8;
  filter:alpha(opacity=80);
  border: green solid 1px;
}
.gmaps4rails_map img {
	max-width: none; //override for stupid bootstrap styles
}

.gmaps4rails_map label {
  width: auto; display:inline;
}

.trips {
	display: inline-block;

	width: 22%;
	text-align: center;

	vertical-align: top;

	font-family: "Helvetica Neue", Helvetica, sans-serif;

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;

			display: block;
			width: 100%;
			margin: 10px 0;
			padding: 10px 0;

			background-color: #add77f;
		}

		li:hover {
			width: 110%;
			margin-right: -10%;
		}
	}
}

$title-height: 30px;
$subtitle-height: 15px;

.popup {
	display: block;
	max-width: 300px;
	height: auto;

	.title {
		display: block;
		height: $title-height;
		line-height: $title-height;
		font-size: $title-height - 9px;
	}
	.subtitle, .description {
		display: block;
		height: auto;
		line-height: $subtitle-height;
		font-size: $subtitle-height - 3px;
	}

	.description {
		margin-bottom: 10px;
	}
	.description:first-line {
		font-weight: bold;
		font-size: 1.3em;
		line-height: 1.3em;
	}

	.leaders {
		color: #aaa;
		margin-bottom: 10px;
	}
	.photos {
		display: block;

		img {
			display: inline-block;
			width: 145px;
			height: 84px;
		}

		img:last-child {
			margin-left: 10px;
		}
	}
}