// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gmaps4rails_map img {
	max-width: none; //override for stupid bootstrap styles
}

.gmaps4rails_map label { 
  width: auto; display:inline; 
}

$title-height: 30px;
$subtitle-height: 15px;

.popup {
	.title {
		display: block;
		height: $title-height;
		line-height: $title-height;
		font-size: $title-height - 9px;
	}
	.subtitle {
		display: block;
		height: $subtitle-height;
		line-height: $subtitle-height;
		font-size: $subtitle-height - 3px;
	}
	.leaders {
		color: #aaa
	}
}