$blue   :   #3a87ad;


#photos-carousel {
	.controls {
		margin: auto;
		margin-top: 20px;
		width: 100px;
		position: relative;
		height: 30px;
		.carousel-control {
			width: 25px;
			height: 25px;
			font-size: 40px;
			line-height: 20px;
		}
	}
	.carousel-thumbnails {
		width: 180px;
		padding-left: 30px;
		.carousel-thumbnail {
			width: 60px;
			margin: 5px;
		}
	}
	.carousel-caption {
		color: white;
	}
	.cphoto {
		width: 100%;
		height: 400px;
		overflow: hidden;
		background-color: black;
	}
}

#testimonies-controls-carousel {
	.controls {
		margin: auto;
		width: 780px;
		height: 30px;
		.carousel-control {
			width: 35px;
			height: 35px;
			font-size: 50px;
			line-height: 28px;
		}
	}
}

.banner {
	width: 100%;
	/*height: 350px;*/
	overflow: hidden;
	margin-bottom:15px;
}

.bphoto {
	width: 100%;
	height: 350px;
}

.slide {
	width: auto;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cover-wrapper {
	height: 200px;
	position: relative;
	.cover-photo {
		height: 200px;
/*		background-repeat: no-repeat;*/
		background-position: center;
		margin: auto;
	}
	.cover-photo:before {
		content: " ";
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-image: -webkit-linear-gradient(left, rgba(70,70,70,1) 0%, rgba(90,90,90,0.95) 20%, rgba(90,90,90,0.6) 40%,  rgba(90,90,90,0.6) 60%, rgba(90,90,90,0.95) 80%, rgba(70,70,70,1) 100%);
	}
	.title-container {
		color: white;
		text-shadow: 1px 1px black;
		position: absolute;
		z-index: 5;
		top: 0px;
		left: 0px;
		right: 0px;
		width: 940px;
		margin: auto;
		height: 100%;
		.title {
			margin-top: 40px;
			margin-bottom: 25px;
			font-size: 45px;
			font-weight: 600;
			display: block;
		}
		.subtitle {
			font-weight: 500;
			font-size: 21px;
			display: block;
			padding-left: 5px;
		}
		.location {
			font-weight: 500;
			position: absolute;
			bottom: 20px;
			right: 5px;
			font-size: 18px;
		}
	}
}

.avatar {
	width: 120px;
}

#testimonies-controls-carousel {
	text-align: center;
	.testimony-avatar {
		width: 80px;
		display: inline-block;
	}
}
#testimonies-carousel {
	.well {
		background-color: rgba(255, 255, 255, 0.4);
	}
}
.leader {
	margin: 30px 0px 20px;
	min-height: 120px;
	.avatar {
		width: 120px;
		float: left;
	}
	.description {
		vertical-align: top;
		padding-left: 15px;
		margin-left: 120px;
		::-webkit-scrollbar {
		  -webkit-appearance: none;
		  width: 7px;
		}
		::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
		.name {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.bio {
			height: 90px;
			overflow: auto;
		}
	}
}

.action {
	color: $blue;
	height: 25px;
	position: relative;
	margin-top: 8px;
	.glyphicon-wrapper {
		display: inline-block;
		position: absolute;
		bottom: 0px;
		.glyphicon {
			font-size: 22px;
			padding-bottom: 3px;
		}
	}
	.link {
		color: $blue;
		display: inline-block;
		padding-left: 32px;
		font-size: 17px;
	}
	&.green {
		color: green;
		.link {
			color: green;
		}
	}
}

#tripTabs {
	margin: 0px auto;
}

.tab-content.past-trips {
	height: 450px;
}


.partners {
	margin-top: 30px;
	text-align: center;
	.partner-logo {
		width: 100px;
		display: inline-block;
		margin: 0 20px;
		filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    opacity: 0.7;
    filter: alpha(opacity=70);
    &:hover {
    	filter: none;
    	-webkit-filter: grayscale(0);
    	opacity: 1;
    	filter: alpha(opacity=100);
    }
	}
}
